* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #f7f6f3;
    font-family: 'Poppins', sans-serif;
}

.illustration {
    flex: 1;
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.illustration img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
}

.about-content {
    flex: 2;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.about-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.about-content h1 strong {
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.about-content p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #555;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #f7f6f3;
    font-family: 'Poppins', sans-serif;

    .logo {
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 30px;

        li a {
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
    }

    .resume-btn {
        padding: 8px 20px;
        background: black;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
}