<!-- Navigation Bar -->
<nav class="navbar">
    <div class="logo"></div>
    <ul class="nav-links">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/about']">About Me</a></li>
        <li><a [routerLink]="['/skills']">Skills</a></li>
        <li><a [routerLink]="['/experience']">Experience</a></li>
        <li><a href="#">Contact Me</a></li>
    </ul>
    <button class="resume-btn">Resume</button>
</nav>
<!-- Hero Section -->
<section class="hero">
    <div class="hero-text">
        <h1>Hello I’am <span class="bold">Ann</span></h1>
        <h2><span class="bold">Full-Stack </span> <span class="outlined">Developer</span></h2>
        <p>
            I'm Ann Mary John, a full-stack developer with 3+ years of experience in building scalable web and mobile
            apps. Skilled in c#, .NET, Flutter, SQL Server, and Agile practices, focused on performance and user-centric
            solutions.

        </p>

        <div class="social-icons">
            <button><i class="fab fa-facebook"></i></button>
            <button><i class="fab fa-instagram"></i></button>
            <button><i class="fab fa-twitter"></i></button>
            <button><i class="fab fa-github"></i></button>
        </div>
    </div>

    <div class="hero-image">
        <img src="assets/landingimage.png" alt="Illustration" />
    </div>
</section>